<html>
    <head></head>
    <body>
        <form enctype= "multipart/form-data" action = "" method ="post">
            {% csrf_token %}
            <hr><br><br>
            <p align="right">
            <!-- <label for="img">Choose File</label> -->
            <input type = "file" name="img" id="img"/>
            <br>
            <input type = "text" name="caption" id="caption"></p>
            <div class="btn-block">
                <p align="right">
                    <button type ="submit"><form action ="home" method = "post"></form>Submit</button> 
                </p>
            </div>
        </form>
        <p align="right">
        <button type ="submit"><a href="/signout" >Sign out</button>
        </p>
    </body>
</html>